@use './var'as var;
@use './mixin' as mixin;
@use './basic';
// -------------------------------------------

#root{
  @include mixin.container-style(100vw, auto, center, center, column);

  &>img{
    width: 860px;
    margin-bottom: 40px;
  }

  &>a{
    width: 860px;
    margin-bottom: 40px;

    &>img{
      width: 860px;
    }
  }
} 
.main-top{
  @include mixin.container-style(860px, 1400px, flex-start, center, column );

  &>img{
    width: 860px;
    border: solid 1px #BDBCBC;
    margin-bottom: 40px
  }

  &>a{
    width: 860px;
    &>img{
      width: 860px;
    }
  }
}

.skin-care{
  @include mixin.container-style(860px, 1560px, flex-start, center, column );
  overflow: hidden;
  position: relative;
  // border: solid 2px saddlebrown;

  &>div:first-child{
    @include mixin.container-style(860px, 12%, center, center);
    z-index: 1;
    // background-color: beige;

    &>h3{
      @include mixin.container-style(20%, 80%, flex-start, center);
      // border: solid black 1px;
      font-size: 1.4rem;
      color: #174C69;
      letter-spacing: 5px;
    }

    &>div{
      @include mixin.container-style(75%, 80%, flex-start, center);
      line-height: 2.5;
      font-size: 1.1rem;
      // border: solid black 1px;
    }
  }
}

.item{
  @include mixin.container-style(860px, 85%, space-around, center, column );
  z-index: 2;
  // border: solid 2px saddlebrown;

  &>div{
    @include mixin.size(100%, 20%);
    // border: solid 1px black;
  }
  
    @for $i from 1 through 4{
      &>div:nth-child(#{$i}){
        // border: solid 1px black;
        &>div{
          @include mixin.container-style(75%, 100%, space-between, center);
          background-color: var.$col-9;
          position: relative;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
          &>div{
            @include mixin.container-style(55%, 100%, space-around, center, column);
            letter-spacing: 5px;
    
            &>div{
              @include mixin.container-style(100%, 70%, space-around, center, column);
              // border: solid 1px saddlebrown;
    
              &>div:first-child{
                line-height: 2.5;
                font-size: 1.1rem;
              }
    
              &>div:last-child{
                font-size: 1.2rem;
                font-weight: 600;
                color: #174C69;
              }
    
            }
    
            &>a{
            @include mixin.box-style(40%, 20%,var.$col-0, 50px);
            @include mixin.flex(center,center);
            font-size: 1.4rem;
            font-weight: 600;
            color: #174C69;
            border: var.$col-3 solid 1px;
            }
          }
    
          &>img{
            @include mixin.box-style(35%, 100%, var.$col-4, 50% 50% 0 0);
            border: var.$col-8 solid 2px;
            @include mixin.posi(relative,-15%, -5%);
          }
        }
      }
    }

  &>div:nth-child(1){
    @include mixin.flex(flex-end, center);

    &>div{
      &>div{
        &>div{
          @include mixin.container-style(100%, 70%, space-around, center, column);
          // border: solid 1px saddlebrown;

          &>div{
            text-align: right;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-end, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-end, center);
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  &>div:nth-child(2){
    @include mixin.flex(flex-start, center);

    &>div{
      &>img{
        @include mixin.posi(relative,-15%, 5%);
      }

      &>div{
        &>div{
          @include mixin.container-style(100%, 70%, space-around, center, column);

          &>div{
            text-align: left;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-start, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-start, center);
          }
        }
      }
    }
  }

  &>div:nth-child(3){
    @include mixin.flex(flex-end, center);
    &>div{
      &>div{
        &>div{
          &>div{
            text-align: right;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-end, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-end, center);
          }
        }
      }
    }
  }

  &>div:nth-child(4){
    @include mixin.flex(flex-start, center);

    &>div{

      &>img{
        @include mixin.posi(relative,-15%, 5%);
      }

      &>div{
        &>div{
          &>div{
            text-align: left;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-start, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-start, center);
          }
        }
      }
    }
  }

}

.circle{
  &>div:nth-child(1){
    @include mixin.box-style(200px, 200px, var.$col-0,50%);
    @include mixin.posi(absolute, 4%, 88%,1);
  }
  &>div:nth-child(2){
    @include mixin.box-style(130px, 130px, var.$col-0,50%);
    @include mixin.posi(absolute, 14%, 11%,0);

  }
  &>div:nth-child(3){
    @include mixin.box-style(130px, 130px, var.$col-0,50%);
    @include mixin.posi(absolute, 32%, 86%,0);
  }
  &>div:nth-child(4){
    @include mixin.box-style(200px, 200px, var.$col-0,50%);
    @include mixin.posi(absolute, 45%, 61%,0);
    // border: solid 1px saddlebrown;
  }
  &>div:nth-child(5){
    @include mixin.box-style(180px, 180px, var.$col-0,50%);
    @include mixin.posi(absolute, 62%, -3%,0);
  }
  &>div:nth-child(6){
    @include mixin.box-style(200px, 200px, var.$col-0,50%);
    @include mixin.posi(absolute, 85%, 70%, 0);
  }

}

.sun-care{
  @include mixin.container-style(860px, 820px, center, center,column);
  // border: solid black 1px;
  &>img{
    width: 860px;
  }

  &>div{
    @include mixin.container-style(90%, 50%, space-between, center);
    // border: solid black 1px;
    letter-spacing: 5px;
    
    &>div{
      @include mixin.container-style(70%, 80%, space-between, center,column);

      &>div{
        @include mixin.container-style(90%, 80%, space-around, center,column);
        // background-color: aliceblue;

        &>div:first-child{
          @include mixin.container-style(90%, 60%, center, center);
          text-align: center;
          line-height: 2.5;
          font-size: 1.1rem;
        }

        &>div:last-child{
          @include mixin.container-style(90%, 20%, center, center);
          font-size: 1.2rem;
          font-weight: 600;
          color: #174C69;
        }
      }

      &>a{
        @include mixin.box-style(35%, 18%,var.$col-0, 50px);
        @include mixin.flex(center,center);
        font-size: 1.5rem;
        font-weight: 600;
        color: #174C69;
        border: var.$col-3 solid 1px;
      }
    }

    &>img{
      @include mixin.size(320px, 320px);
      border-radius: 50%;
    }
  }
}

.cleansing{
  @include mixin.container-style(860px, 2080px, flex-start, center, column );
  overflow: hidden;
  position: relative;

}

.item2{
  @include mixin.container-style(860px, 1320px, space-around, center, column );
  // background-color: azure;
  z-index: 2;
  // border: solid 2px saddlebrown;

  &>div{
    @include mixin.size(100%, 20%);
    // border: solid 1px black;
  }
  
    @for $i from 1 through 4{
      &>div:nth-child(#{$i}){
        margin-top: 80px;
        // border: solid 1px black;
        &>div{
          @include mixin.container-style(75%, 100%, space-between, center);
          background-color: var.$col-9;
          position: relative;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
          &>div{
            @include mixin.container-style(55%, 100%, space-around, center, column);
            letter-spacing: 5px;
    
            &>div{
              @include mixin.container-style(100%, 70%, space-around, center, column);
              // border: solid 1px saddlebrown;
    
              &>div:first-child{
                line-height: 2.5;
                font-size: 1.1rem;
              }
    
              &>div:last-child{
                font-size: 1.2rem;
                font-weight: 600;
                color: #174C69;
              }
    
            }
    
            &>a{
            @include mixin.box-style(40%, 20%,var.$col-0, 50px);
            @include mixin.flex(center,center);
            font-size: 1.4rem;
            font-weight: 600;
            color: #174C69;
            border: var.$col-3 solid 1px;
            }
          }
    
          &>img{
            @include mixin.box-style(35%, 105%, var.$col-4, 50% 50% 0 0);
            border: var.$col-8 solid 2px;
            @include mixin.posi(relative,-15%, -5%);
          }
        }
      }
    }

  &>div:nth-child(1){
    @include mixin.flex(flex-end, center);

    &>div{
      &>div{
        &>div{
          @include mixin.container-style(100%, 70%, space-around, center, column);
          // border: solid 1px saddlebrown;

          &>div{
            text-align: right;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-end, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-end, center);
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  &>div:nth-child(2){
    @include mixin.flex(flex-start, center);

    &>div{
      &>img{
        @include mixin.posi(relative,-15%, 5%);
      }

      &>div{
        &>div{
          @include mixin.container-style(100%, 70%, space-around, center, column);

          &>div{
            text-align: left;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-start, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-start, center);
          }
        }
      }
    }
  }

  &>div:nth-child(3){
    @include mixin.flex(flex-end, center);
    &>div{
      &>div{
        &>div{
          &>div{
            text-align: right;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-end, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-end, center);
          }
        }
      }
    }
  }

  &>div:nth-child(4){
    @include mixin.flex(flex-start, center);

    &>div{

      &>img{
        @include mixin.posi(relative,-15%, 5%);
      }

      &>div{
        &>div{
          &>div{
            text-align: left;
          }

          &>div:first-child{
            @include mixin.container-style(100%, 60%, flex-start, center);
          }

          &>div:last-child{
            @include mixin.container-style(100%, 20%, flex-start, center);
          }
        }
      }
    }
  }

}

.circle2{
  @include mixin.container-style(860px, 1320px, space-around, center, column );

  &>div:nth-child(1){
    @include mixin.box-style(200px, 200px, var.$col-0,50%);
    @include mixin.posi(absolute, 40%, 10%, 0);
  }

  &>div:nth-child(2){
    @include mixin.box-style(130px, 130px, var.$col-0,50%);
    @include mixin.posi(absolute, 52%, 70%,0);

  }
  &>div:nth-child(3){
    @include mixin.box-style(130px, 130px, var.$col-0,50%);
    @include mixin.posi(absolute, 65%, 85%,0);

  }
  &>div:nth-child(4){
    @include mixin.box-style(200px, 200px, var.$col-0,50%);
    @include mixin.posi(absolute, 72%, -5%,0);

    // border: solid 1px saddlebrown;
  }
  &>div:nth-child(5){
    @include mixin.box-style(180px, 180px, var.$col-0,50%);
    @include mixin.posi(absolute, 80%, 60%,0);
  }
  &>div:nth-child(6){
    @include mixin.box-style(100px, 100px, var.$col-0,50%);
    @include mixin.posi(absolute, 92%,85%,0);

  }

}



